<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>1053154 bryan</title>
</head>


<body>
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">
<img src="../static/images/bryan.png" alt="照片" width="140" height="140" th:src="@{images/bryan.png}">


<hr>

<b style="font-size:400%;">許哲瑄</b>
<hr>
<p>
<b style="font-size:200%;">學習動機:</b>
<p>
我愛DJ
<p/>

</body>

</html>