


元智大學全校課程查詢(Yuan-Ze University)

















//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>




 



 
                    
                      登出
                    
               
                 
Chinese
English


元智大學課程查詢系統

  
			Yuan Ze University - University Curriculum  



 













                        ※  系所各年級入學年度課程規劃 






 
	               	※Search by
系所查詢    
                          課程關鍵字    
                          教師姓名    
                          時間查詢
課綱關鍵字   
                          英語授課   
                          英語授課推薦課程                          
                          跨領域學程    
                          服務學習                              
                          終端學習    
                          網路教學                              
                          暑期先修課    

數位應用課程    
                            議題導向實作專題課程    
                       







							
								 學期 
							
							 


							
								 開課系所 
							
							 

 
							
								 開課年級
							
							 







1073
1072 (2019S)
1071 (2018F)
1066
1065
1063
1062 (2018S)
1061 (2017F)
1056
1055
1053
1052 (2017S)
1051 (2016F)
1046
1045
1043
1042 (2016S)
1041 (2015F)
1036
1035
1033
1032 (2015S)
1031 (2014F)
1026
1025
1023
1022 (2014S)
1021 (2013F)
1015
1013
1012 (2013S)
1011 (2012F)
1005
1003
1002 (2012S)
1001 (2011F)
996
995
993
992 (2011S)
991 (2010F)
986
982 (2010S)
981 (2009F)
976
975
974
973
972 (2009S)
971 (2008F)
966
965
964
963
962 (2008S)
961 (2007F)
956
955
954
953
952 (2007S)
951 (2006F)




工程學院                      
　　機械工程學系學士班
　　化學工程與材料科學學系學士班
　　工業工程與管理學系學士班
　　工程學院英語學士學位學程
　　機械工程學系碩士班
　　化學工程與材料科學學系碩士班
　　工業工程與管理學系碩士班
　　生物科技與工程研究所碩士班
　　先進能源碩士學位學程
　　機械工程學系博士班
　　化學工程與材料科學學系博士班
　　工業工程與管理學系博士班
管理學院                      
　　管理學院學士班
　　管理學院經營管理碩士班
　　管理學院財務金融暨會計碩士班
　　管理學院管理碩士在職專班
　　管理學院博士班
人文社會學院                  
　　應用外語學系學士班
　　中國語文學系學士班
　　藝術與設計學系學士班
　　社會暨政策科學學系學士班
　　人文社會學院英語學士學位學程
　　應用外語學系碩士班
　　中國語文學系碩士班
　　藝術與設計學系(藝術管理碩士班)
　　社會暨政策科學學系碩士班
　　文化產業與文化政策博士學位學程
資訊學院                      
　　資訊工程學系學士班
　　資訊管理學系學士班
　　資訊傳播學系學士班
　　資訊學院英語學士學位學程
　　資訊管理學系碩士班
　　資訊傳播學系碩士班
　　資訊社會學碩士學位學程
　　資訊工程學系碩士班
　　生物與醫學資訊碩士學位學程
　　資訊管理學系博士班
　　資訊工程學系博士班
電機通訊學院
　　電機通訊學院英語學士學位學程
　　電機系甲組
　　電機系乙組
　　電機系丙組
　　電機碩甲組
　　電機碩乙組
　　電機碩丙組
　　電機博甲組
　　電機博乙組
　　電機博丙組
　　(106學年以前)電機工程學系學士班
　　(106學年以前)通訊工程學系學士班
　　(106學年以前)光電工程學系學士班
　　(106學年以前)電機工程學系碩士班
　　(106學年以前)通訊工程學系碩士班
　　(106學年以前)光電工程學系碩士班
　　(106學年以前)電機工程學系博士班
　　(106學年以前)通訊工程學系博士班
　　(106學年以前)光電工程學系博士班
通識教學部
軍訓室                        
體育室                        
國際語言文化中心
全球事務處




1 年級
2 年級
3 年級
4 年級
全部 


 


































 
 

 


 



